@font-face {
  font-family: "NouvelR";
  src: url("../fonts/NouvelR-Regular.woff2");
}

:root {
  --color-gold: #f4b623;
  --primary-color: rgb(42, 241, 244);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.layout {
  font-family: "NouvelR";
  width: 100%;
  min-height: 100vh;
  background-color: #111111;
  color: #cccccc;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__layout {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  position: relative;
  left: -200px;
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.main__layout--active {
  left: 0%;
  opacity: 1;
}

.main__photo {
  flex: 0.5;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  max-width: 500px;
}

.photo__svg {
  width: 200px;
}

.main__description {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  max-width: 500px;
}

.main__title {
  font-size: 3rem;
  color: var(--primary-color);
  font-weight: bold;
}

.main__subtitle {
  font-size: 3rem;
  color: #ffffff;
  font-weight: bold;
}

.main__text {
  margin-top: 2rem;
  font-size: 1.3rem;
  color: #ababab;
}

.main__btn {
  margin-top: 2rem;
  height: 40px;
  width: 170px;
  border-radius: 20px;
  border: none;
  background-color: transparent;
  color: #fcfcfc;
  border: solid 2px var(--primary-color);
  position: relative;
  padding-right: 4rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.main__btn:hover {
  background-color: var(--primary-color);
}

.btn__circle {
  position: absolute;
  content: "";
  top: -2px;
  right: -2px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--primary-color);
}

.btn__svg {
  width: 40px;
  height: 40px;
}

.main__bar {
  width: 60px;
  position: fixed;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 99;
}

.bar__item {
  width: 40px;
  height: 40px;
  background-color: #2c2c2c;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.bar__item--active {
  background-color: var(--primary-color);
}

.bar__item:hover {
  transition: all 200ms ease-in-out;
  background-color: var(--primary-color);
}

.bar__svg {
  width: 30px;
  height: 30px;
}

.personal__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.personal__title {
  color: #f4f4f4;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.personal__info {
  color: #8e8e8e;
  font-size: 1.5rem;
}

.personal__value {
  color: #ffffff;
}

.about__layout,
.skills__layout,
.exp-ed__layout,
.portfolio__layout {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  gap: 4rem;
}

.about__layout {
  position: relative;
  left: -200px;
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.about__layout--active {
  left: 0%;
  opacity: 1;
}

.about__section,
.skills__section,
.portfolio__section {
  font-size: 4rem;
}

.about__hl {
  color: var(--primary-color);
}

.about__experience {
  display: grid;
  grid-template-areas:
    "years projects"
    "customers awards";
  gap: 2rem;
}

.experience__years {
  grid-area: years;
}

.experience__projects {
  grid-area: projects;
}

.experience__customers {
  grid-area: customers;
}

.experience__awards {
  grid-area: awards;
}

.experience__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.experience__number {
  font-size: 5rem;
  font-weight: bold;
  color: var(--primary-color);
}

.experience__text {
  font-size: 1.8rem;
}

.experience__plus {
  font-size: 2rem;
  vertical-align: super;
}

.about__container,
.skills__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.skills__skill {
  width: 80px;
  height: 80px;
  background-color: #121212;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: relative;
}

.skills__skill::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: conic-gradient(
    var(--primary-color) 0% var(--progress),
    #272727 var(--progress) 100%
  );
  z-index: -1;
}

.skill__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.skills__text {
  font-size: 2rem;
}

.exp-ed__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.exp-container__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.exp-container__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.exp__title {
  font-size: 1.8rem;
}

.exp__logo-container {
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.exp__date {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.exp__svg {
  width: 20px;
  height: 20px;
}

.project__container {
  padding-bottom: 2rem;
  border: solid 2px #cccccc;
}

.project__img-container {
  width: 250px;
  height: 200px;
  overflow: hidden;
}

.project__img {
  width: 100%;
  height: 100%;
}

.project__title {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project__web {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects__container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

@media (max-width: 1024px) {
  .main__layout {
    flex-direction: column;
  }

  .about__container {
    flex-direction: column;
  }
}
